.title {
  font-size: 23px;
  font-weight: 700;
}

.daily-item {
  background-color: rgb(205, 236, 236);
  border-radius: 15px;
  height: 40px;
  margin: 5px;
  align-items: center;
  display: flex;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 20px;
}
.icon-small {
  width: 40px;
}
.day {
  color: rgb(46, 5, 5);
  display: 1 1;
  font-weight: 600;
  margin-left: 15px;
}
.description {
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
}

.min-max {
  color: rgb(208, 200, 190);
}
.daily-details-grid {
  grid-row-gap: 0;
  grid-column-gap: 15px;
  row-gap: 0;
  column-gap: 15px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
}
.daily-details-grid-item {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}

.daily-details-grid-item label:first-child {
  color: rgb(176, 173, 173);
}
.daily-details-grid-item label:last-child {
  color: rgb(91, 91, 91);
}
